.content-xs svg{
	display: block;
	margin: 9em auto 1em;
	color: grey;
}
.content-xs p{
	width:10em;
	margin: 0 auto;
	color: grey;
	font-size: 18px;
}
/*底部导航*/
.dbdh-active svg{
	color: #E8504F;
}
.dbdh-active {

}
.dbdh-active span{
	color: #E8504F;
}
