
/*图片头像*/
.tptx{
	margin-top:34px;
}
.pc{
	background:url(../images/dh1.jpeg);
	background-repeat:no-repeat;
	width: 100%;
	height: 15em;
	background-attachment:fixed;
	background-size:100% 18.5em;
	-ms-background-size:100% 18.5em;
	-moz-background-size:100% 18.5em;
	-webkit-background-size:100% 18.5em;


}
.pc-top img{
	display: block;
	width:6em;
	height:6em;
	margin:1em auto 1em;
}
.pc-top span{
	display: block;
	text-align: center;
	font-size: 18px;
	color: white;
}
.pc-down{
	margin: 0 auto;
}
.fs{
	width: 12em;
	height: 2em;
	margin: 0 auto;
	border:1px solid white;
	border-radius: 2em;
	margin-top: 1em;
}
.fs span{
	color: white;
	padding-left:1em;
}
.fs-o{
	margin-left: 20px;
	margin-top:10px;
	line-height: 2em;
}
.fs-icon{
	color: white;
	float: right;
}
/*四列导航*/
.sldh{
	border-bottom: 1px solid grey;
}
.oli{
	text-align: center;
}
.oli-kj{
	height: 50px;
}
.oli p{
	padding-top: 10px;
	line-height:10px;
	font-size: 18px;	
}
.oli span{
	font-size: 10px;
	color: grey;
}
.oli:nth-child(1){
	border-right: 1px solid #BDBDBD;
}
.oli:nth-child(2){
	border-right: 1px solid #BDBDBD;
}
.oli:nth-child(3){
	border-right: 1px solid #BDBDBD;
}
/*内容*/
.content{
	background-color: #DDDDDD;
	min-height: 80em;
}
.main{
	display: block;
	margin: 1em auto;
	width:8em;
	color: grey;
}
/*底部导航*/
.dbdh-active svg{
	color: #E8504F;
}
.dbdh-active span{
	color: #E8504F;
}
